<html>
    <head>
      <link rel = "stylesheet" href = "{{url_for('static',filename='login.css')}}">
        <meta charset="utf-8" />
        <title>Register Form Start</title>
        <link rel="stylesheet" href="{{url_for('static',filename='login.css')}}" />
    </head>
<body>
        <form class="login-form" action="#" method="post">
<div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Better<span>Life</span></div>
		</div>
		<br>
		<div class="login">
				<input type="text" placeholder="Login ID" name="user"><br>
				<input type="password" placeholder="Password" name="password"><br>
				<button id = "registerbutton" type="submit" class="btn">Log in</button>
		</div>
